<div class="main" *ngIf="comment$ | async as comment">
  <div>
    评论标题
    <input type="text" [(ngModel)]="comment.title"/>
  </div>

  <div>
    作者
    <textarea [(ngModel)]="comment.author"></textarea>
  </div>


  <div>
    时间
    <input type="text" [(ngModel)]="comment.date"/>
  </div>

  <div>
    产品
    <input type="text" [(ngModel)]="comment.product"/>
  </div>

  <div>
    星级
    <textarea [(ngModel)]="comment.star"></textarea>
  </div>

  <div>
    内容
    <textarea [(ngModel)]="comment.content"></textarea>
  </div>

</div>

