<h3>产品列表</h3>
<button (click)="addProduct(0)">添加产品</button>
<ul>
  <li>
    <ul *ngFor="let item of productService.products">
      <li>
        {{item.name}}
        <button (click)="editProduct(item.id)">编辑</button>
        <button (click)="deleteProduct(item.id)">删除</button>
        <button (click)="addProduct(item.id)">添加子产品</button>
        <ul *ngFor="let product of item.children">
          <li>
            {{product.name}}
            <button (click)="editProduct(product.id)">编辑</button>
            <button (click)="deleteProduct(product.id)">删除</button>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <button (click)="addProduct(0)">添加父产品</button>
  </li>
</ul>

